<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{'/css/base.css' | url}}">
    {% block head %}
    <title>{{site.title}}{% if title %}: {{ title }}{% endif %}</title>
    {% endblock %}
  </head>
  <body>
    <h1 class="sitetitle">{{site.title}}</h1>
    <nav class="sitenav">
      <ul>
        <li><a href="{{'/' | url}}">Home</a></li>
        <li><a href="{{'/blog' | url}}">Blog</a></li>
        <li><a href="{{'/certification' | url}}">Certification</a></li>
        <li><a href="{{'/resources' | url}}">Resources</a></li>
      </ul>
    </nav>
    <div class="content">
      {%block content %}
      {{ content | safe }}
      {% endblock %}
    </div>
    <p class="footer">Last updated: {{page.date | readableDate}}</p>
    <p class="footer">{{site.copyrightStatement}}</p>
    <p class="footer">{{site.licenseStatement}}</p>
  </body>
</html>
