{% extends 'base.njk' %}
{% block content %}

<main>
  <h1>{{title}}</h1>

  {{content | safe}}

  <nav>
    {% set pageslist = collections.all | sectionPages(section) | filterSelfOut(page) | sortByOrder %}
    <ol>
      {%for item in pageslist %}
      <li><a href="{{item.url | url}}">{{item.data.title}}</a></li>
      {% endfor %}
    </ol>
  </nav>
</main>
{% endblock %}
