{% extends 'base.njk' %}
{% block content %}
<main class="page-in-collection">
  <div class="contents">
    <h1>{{title}}</h1>
    {{content | safe}}
  </div>

  {% set pagelist = collections.all | sectionPages(section) | notIndex %}
  {% set thispage = page %}
  {% set indexHref = '../' %}
  {% include 'components/collection-nav.njk' %}
</main>
{% endblock %}
