{%- for post in postlist -%}
<div class="post-snippet">
  <h2><a href="{{ post.url | url }}">{{ post.data.title }}</a></h2>
  <p class="date">{{post.date | readableDate}}</p>
  {%- set tags = post.data.tags | filterTags -%}

  {%- if tags.length > 0 -%}
  <p>
    <span style="font-size: smaller; margin-right: 3px;">Tags:</span>
    {%- for tag in tags -%}
      {% include 'components/tag.njk' %}
    {%- endfor -%}
  </p>
  {%- endif -%}

  <p>{{ post.templateContent | truncate(250) | safe }}... (<a href="{{post.url | url}}">more</a>)</p>
</div>
{%- endfor -%}
