{%- for post in postlist -%}
<div class="post-snippet">
  <h2><a href="{{ post.url | url }}">{{ post.data.title }}</a></h2>
  <div class="post-meta">
    <p class="date">{{post.date | readableDate}}</p>
    {%- set tags = post.data.tags | filterTags -%}
    {%- if tags.length > 0 -%}
    <p>
      <span class="label">Tags:</span>
      {%- for tag in tags -%}
        {% include 'components/tag.njk' %}
      {%- endfor -%}
    </p>
    {%- endif -%}
  </div>
  <p>{{ post.templateContent | truncate(250) | safe }}... (<a href="{{post.url | url}}">more</a>)</p>
</div>
{%- endfor -%}
