{%set next = thispage | nextItem(pagelist) %}
{%set prev = thispage | prevItem(pagelist) %}
<div class="collection-nav">
  {%-if next or prev -%}
  <p>
  {%-if prev -%}<a href="{{prev['url'] | url}}">Previous: {{prev['title']}}</a>{%- endif -%}
  {%-if next -%}<a href="{{next['url'] | url}}">Next: {{next['title']}}</a>{%- endif -%}
  </p>
  {%-endif-%}
  <p><a href="{{indexHref}}">Back to main</a></p>
</div>
