---
layout: 'base.njk'
title: Blog
---
{% set postlist = collections.post | reverse %}
<main class="blog-index">
  <div>
    {% include 'components/blog-post-list-expanded.njk' %}
  </div>

  <div class="sidebar">
    <aside>
      <h2>Recent Posts</h2>
      {% include 'components/blog-post-list.njk' %}
    </aside>
    <aside>
      <h2>Tags</h2>
      {%-set taglist=collections.tagList | filterTags -%}
      <ul>
        {%- for tag in taglist -%}
          <li>{%include 'components/tag.njk'%}</li>
        {%- endfor -%}
      </ul>
    </aside>
  </div>
</main>
