@media (min-width: 500px) {
  .wrapper {
    display: grid;
    grid-gap: 5px;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
  }
}

body {
  font-family: sans-serif;
  line-height: 1.5rem;
  font-size: large;
  width: 95%;
  margin: auto;
  margin-top: 2rem;
  min-height: 100vh;
}
a {
  /* always debatable */
  /* text-decoration: none; */
}

/* asides */
aside {
  border: 2px solid black;
	border-radius: 10px;
	padding: 20px;
	margin-bottom: 4rem;
	font-size: smaller;
}

aside ul{
  list-style-type: disc;
  padding-left: 0;
}
header {
  grid-area: header;
}
body>nav {
  border-bottom: 2px solid gray;
  grid-area: nav;
}
nav ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding-left: 0;
}
footer {
  font-size: smaller;
  font-style: italic;
  line-height: .5rem;
  border-top: 2px solid gray;
  grid-area: footer;
}

/* main content */
main {
  padding-top: 1rem;
  grid-area: main;
}
main.page-in-collection {
  display: grid;
  grid-template-rows: 2fr .5fr;
}
main.blog-index {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.post-snippet {
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-bottom: 2px solid lightgray;
}
.post-snippet img {
  width: 80%;
}
.post-meta {
  line-height: .5rem;
  display: inline-block;
}
/* little things */
.collection-nav {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-top: 2px solid lightgray;
  line-height: .5rem;
}
.collection-nav>p:nth-of-type(1) {
  display: flex;
  justify-content: space-between;
}
.collection-nav>p:nth-of-type(2) {
  justify-content: center;
  display: flex;
}
.date {
  font-size: smaller;
  font-style: italic;
}

.tag {
  font-size: smaller;
}
.tag:after {
  content: ", ";
}
.tag:last-child:after {
  content: "";
}

.label {
  font-size: smaller;
  margin-right: 3px;
}
